.AboutPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    height: 80vh;
    overflow-x: hidden;
}

#About{
    overflow-x: hidden ;
}


.Skills{
    background-color: #25274D;
    height:50vh;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 10px;
    border: 11px solid black;
    margin: 2%;
}

#Skill{
    font-size: 40px;
    width: 100%;
    height: 10%;
    margin: 10px auto auto auto;
    text-align: center;
    border: 11px solid black;
    background-color: #29648A;
}


.ImageContainer{
    width: 90%;
    height: 70%;
    margin: auto;
    border: 11px solid black;
    display: inline-flex;
    overflow: hidden;
    background-color: #25274D;
}

#AboutMeText{
    font-size: 22px;
    margin: auto;
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    
}

#ProfessionalImage{
    width: 22%;
    height: 75%;
    margin: auto;
}

#AboutMeTitle{
    font-size:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-align: center;
    margin: auto;
    width: 97%;
    height: 15%;
    background-color: #29648A;
    border: 8px solid black;
}

.Grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #25274D;
    margin: auto;
    width: 90%;
    height: 95vh;
    gap: 10px;
    border: 8px solid black;
}

.VideoGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

}

.VideoContainer, .ModelContainer{
    width:50%;
    height: 100%;
}

#MText{
    height:5%;
    margin:auto;
}

.ModelingGrid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    width: 100%;
    height: 90%;
}

#VideoGameText, #ModelingText{
    font-size: 32px;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
}

#Model1{
    margin-top: 5%;
    margin-left: 36%;
    width:55%;
    height: 60%;
    border: 8px solid black;
}

#Model2{
    width: 45%;
    height: 65%;
    margin-left: 15%;
    border: 8px solid black;
}


#VideoGame1{
    margin: auto;
    width: 70%;
    height: 50%;
    border: 8px solid black;
}
.projectpage:hover{
    color:#2E9CCA;
}

.projectpage{
    text-decoration: underline;
    color: #1b6c8f;
}

.CardText{
    text-align: center;
    font-size: 40px;
}
.Card:hover .CardInterior{
    transform: rotateY(180deg);
}

.cardicon{
    height: 80%;
    width: 100%;
}

.Front, .Back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.Front{
    background-color: transparent;
}
.Back{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
}

.CardInterior{
    margin-top:10px;
    width: 90%;
    height: 90%;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.Card{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.Resume{
    width: 87%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#ResumeHeading{
    font-size: 42px;
    text-decoration: underline;
    margin: 1% auto auto auto;
    text-align: center;
    border: 7px solid black;
    background-color: #29648A;
    width: 97%;
}
.EducationContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 90%;
    border: 8px solid black;
    margin: auto;
    background-color:#25274D;
}

#EducationContentHeading{
    font-size:35px;
    text-decoration: underline;
    width: fit-content;
    margin: auto;
}


.EducationContent li{
    font-size: 21px;
    margin: 7%;
}

.WorkplaceContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 8px solid black;
    margin: auto;
    background-color:#25274D;
}

#WorkplaceContentHeading{
    font-size:35px;
    text-decoration: underline;
    width: fit-content;
    margin: 2%;
}


.WorkplaceContent li{
    font-size: 21px;
    margin: 18% 0 10% 10%;
    width: 100%;
}
