.Contact{
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100vw;
    overflow-x: hidden;
    margin-top: 1%;
}
.ContactInfo{
    width: 89%;
    height: 100vh;
    border: 10px solid black;
    margin: 5% auto auto auto;
    background-color:#25274D;
}

.ContactInfo label{
    display: inline-flex;
    width: 120px;
    text-align: right;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 22px;
}

#ContactTitle{
    text-align: center;
    text-decoration: underline;
    background-color: #25274D;
    font-size: 23px;
    
}

.Testimonials{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    margin: 1% auto auto auto;
    background-color:#25274D;
    justify-content: center;

}

.Testimonial{
    background-color: #25274D;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    gap: 70px;
    text-align: center;
    margin: auto;
    width: 50%;
}

#TestimonialHeading{
    font-size: 40px;
    margin: 5px auto auto auto;
    width: 50%;
    height: 10%;
    text-align: center;
    text-decoration: underline;
}

.TestimonialText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-size: 30px;
}

.TestimonialName{
    width: 100%;
    font-size: 35px;
}

.SubmitButton{
    width: 15%;
    height: 20%;
    margin: 3% 0 3% 43%;
}

#GitHub{
    width: 30%;
    height: 42%;
    margin-left: 35.5%;
}

.Form{
    border: 3px solid;
    width: 35%;
    height: 90%;
    margin-left: 33% ;
    background-color: #25274D;
}
.ContactInfo input{
    width: 50%;
}

.ContactInfo textarea{
    width: 50%;
    vertical-align: center;
}

#ContactHeading{
    font-size:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-align: center;
    margin:auto;
    width: 97%;
    height: 15%;
    border: 8px solid black;
    background-color: #29648A;
}
