*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    color: #AAABB6;
}

main{
    height: 300vh;
    width: 100vw;
    background-color: #464866;
}

header, footer{
    min-width: 100%;
    min-height: 8vh;
    background-color: #313350;
}

a{
    text-decoration: none;
    color: #AAABB6;
}

a:hover{
    text-decoration: underline;
    color: #29648A;
}

a:visited{
    color: #2E9CCA;
    text-decoration: underline;
}
ul{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;

}

#Home, #AboutID, #ContactID{
    text-decoration: none;
    color: #AAABB6;
    margin-left: 10px;
    font-size: 22px;

}

#Home:hover, #AboutID:hover, #ContactID:hover{
    text-decoration: underline;
    color: #29648A;
}

#Home:visited, #AboutID:visited, #ContactID:visited{
    color: #2E9CCA;
    text-decoration: underline;
}


.Title{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* #region Titles */

.Title{
    background-color: #25274D;
    height: 100vh;
}

#TitleBox{
    border: 10px dashed #AAABB6;
    color: #AAABB6;
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
#MainTitleText{
    font-size: 70px;
}
#TitleText{
    font-size:35px;
}
/* #endregion Titles */

header{
    position: fixed;
}
