*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #AAABB6;
    scroll-behavior: smooth;
}
 
#Nav{
    display: flex;
    justify-content: center;
}

#Nav li{
    padding-right: 90px ;
    list-style: none;
}

#Nav ul #Dropdown1{
    position: relative;
    height: 100%;
    top: 0;
}

#Nav ul #Dropdown2{
    position: relative;
    height: 100%;
    top: 0;
}

#Nav ul #Dropdown3{
    position: relative;
    height: 100%;
    top: 0;
}

#Dropdown1:hover .SubMenu{
    display: block;
    background-color: #29648A;
    border: 4px solid black;
    width: 2em;
    border-radius: 5%;
}

 #Dropdown2:hover .SubMenu{
    display: block;
    background-color: #29648A;
    border: 4px solid black;
    width: 100%;
    border-radius: 5%;
}

#Dropdown3:hover .SubMenu{
    display: block;
    width: 70%;
    background-color: #29648A;
    border: 4px solid black;
    border-radius: 5%;
}


.SubMenu{
    display: none;
    position: absolute;
} 

main{
    height: 300vh;
    width: 100vw;
    background-color: #464866;
    overflow-x: hidden;
}

header, footer{
    min-width: 100%;
    min-height: 12vh;
    background-color: #313350;

}

a{
    text-decoration: none;
    text-align: center;
    height: 100%;
}

#submenutext{
    font-size: 20px ;
    color: #AAABB6;
}

#submenutext:hover{
    text-decoration: underline;
    color: black;
}
ul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

#Home:hover, #AboutID:hover, #ContactID:hover{
    text-decoration: underline;
    color: #29648A;
}

#Home:visited, #AboutID:visited, #ContactID:visited{
    color: #2E9CCA;
    text-decoration: underline;
}


.Title{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* #region Titles */

.Title{
    background-color: #25274D;
    height: 100vh;
}

#TitleBox{
    border: 10px dashed #AAABB6;
    color: #AAABB6;
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
#MainTitleText{
    font-size: 70px;
}
#TitleText{
    font-size:35px;
}
/* #endregion Titles */

header{
    position: fixed;
}
